{% load compress %}
{% load staticfiles %}

{% compress js %}

<script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'underscore/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-file-upload/angular-file-upload.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ui-bootstrap-tpls-0.12.1.min.js' %}"></script>



<script type="text/javascript" src="{% static 'js/modsched.js' %}"></script>

<script type="text/javascript" src="{% static 'js/modsched.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modsched.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/login.controller.js' %}"></script>

{# utils, e.g. snackbars... #}
<script type="text/javascript" src="{% static 'js/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/utils.service.js' %}"></script>
<script type="text/javascript" src="{% static 'snackbarjs/dist/snackbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'ng-busy/build/angular-busy.min.js' %}"></script>
<script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>


{# base layout module and controllers #}
<script type="text/javascript" src="{% static 'js/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'js/experiments.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/executables.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/preview.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard.module.js' %}"></script>

<script type="text/javascript" src="{% static 'highcharts-release/highcharts.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'highcharts-release/themes/grid-light.js' %}"></script> --> 

{%endcompress%}