{% load compress %}
{% load staticfiles %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'jasny-bootstrap/dist/css/jasny-bootstrap.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'ngDialog/css/ngDialog-theme-default.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'snackbarjs/dist/snackbar.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'snackbarjs/themes-css/material.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

{% endcompress %}