{% load staticfiles %}
 
<html ng-app="modsched">
<head>

<base href="/" />

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">



<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
{% include 'urls.html' %}
</head>

<body>

{% include 'navbar.html' %}
{% include 'stylesheets.html' %}

{% block content %} 
    
{% endblock %}

{% include 'javascripts.html' %}
</body>
</html>