/* .progress {
	border: 0px solid rgba(245, 245, 245, 1);
	border-radius: 4px;
	height: 20px;
}

.progress-bar-custom {
	background: rgba(66, 139, 202, 1);
} */
.ngdialog.ngdialog-theme-default.ngdialog-wide .ngdialog-content {
	width: 80%;
}

.parser-output-preview {
	overflow-y: scroll;
	max-height: 500px;
}

.experiment_id {
	display: inline-block;
	width: 3em;
	text-align: right;
	padding-right: 1em;
}