<div class="container">
<div class="col-sm-10">
  <div class="page-header"> 
    <h2 ng-show="action=='add'">Create Command</h2>
    <h2 ng-show="action=='edit'">Edit Command</h2>
  </div>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="executable" class="control-label col-sm-2">Executable</label>
      <div class="col-sm-10" id="executable">
      
        <div class="input-group" id="executable">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false">Select Preconfigured<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li ng-hide="executables.length"><em>No preconfigured executables</em></li>
              <li ng-repeat="executable in executables"><a href="#" ng-click="setExecutable(executable)">{{executable.path}}</a>
            </ul>
          </div>
          <input class="form-control" type="text" ng-model="command.executable" />
        </div>
      </div>
      <div class="pull-right">
        <em><a href="/executables">Manage Executables</a></em>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="command.auto_expand" />
            Expand Arguments
          </label>
          <div class="help-block">
            <p>The syntax for expansion is &lt;[start]:[step]:end&gt; (all bounds inclusive)</p>
            <ul>
                <li><em>&lt;3&gt;</em> &#8594; 0, 1, 2, 3</li>
                <li><em>&lt;1:3&gt;</em> &#8594; 1, 2, 3</li>
                <li><em>&lt;2:2:10&gt;</em> &#8594; 2, 4, 6, 8, 10</li>
            </ul>
            <p>To use an input file as input parameter, prepend a dollar ($) character to its name. 
                    At runtime, this name will be expanded to the full path name</p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="argumentList">Arguments</label>
      <div id="argumentsList" class="col-sm-10">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="argument in command.arguments track by $index">
            <span ng-hide="vm.isArgumentEdited($index)">
                {{argument}}
            </span>
            <span ng-show="vm.isArgumentEdited($index)">
              <input type="text" ng-model="command.arguments[$index]" />
              <a href="#" ng-click="vm.editArgument($index)">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
              </a>
            </span>  
            <span class="pull-right">
              <button ng-hide="vm.isArgumentEdited($index)" type="button" ng-click="vm.editArgument($index)" 
                      class="btn btn-default">
                <span class="glyphicon glyphicon-cog"></span>
              </button>
              <button ng-click="vm.removeArgument(argument)" class="btn btn-default" type="button"> 
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </span>
          </li>
          <li class="list-group-item" ng-hide="command.arguments.length"><em>No arguments specified.</em></li>
        </ul>
      </div>
    </div>
    <div class="form-group" ng-show="command.executable">
      <div class="col-sm-offset-2">
        <div class="form-group">
          <div class="col-sm-offset-2">
            <p><h4>Add new argument</h4></p>
          </div>
        </div>
        <div class="form-group">
          <label for="predefArg" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <div class="input-group" id="predefArg">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">Use Default<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li ng-hide="selectedExecutable && selectedExecutable.argument_set.length"><em>No predefined values</em></li>
                  <li ng-repeat="prop in selectedExecutable.argument_set"><a href="#" ng-click="$parent.newArgumentObject=prop; $parent.newArgument=prop.name">{{prop.name}}</a>
                </ul>
              </div>
              <input class="form-control" type="text" ng-model="newArgument">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="predefArgValue">Value</label>
          <div class="col-sm-10">
            <div class="input-group" id="predefArgValue">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">Use Default<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li ng-hide="newArgumentObject.choices.length"><em>No predefined values</em></li>
                  <li ng-repeat="choice in newArgumentObject.choices"><a href="#" ng-click="$parent.newArgumentValue=choice">{{choice}}</a>
                </ul>
              </div>
              <input class="form-control" type="text" ng-model="newArgumentValue" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 col-sm-offset-2">
            <button type="button" class="btn btn-default" ng-click="vm.addArgument()" 
                    ng-disabled="newArgument == null">
            Add Argument
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="previewerInput" class="control-label col-sm-2">Previewer</label>
      <div class="col-sm-10" id="previewerInput">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" 
                    data-toggle="dropdown" aria-expanded="false">Select Builtin<span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li ng-repeat="prev in previewers"><a href="#" ng-click="$parent.command.previewer=prev">{{prev}}</a>
            </ul>
          </div>
          <input class="form-control" type="text" ng-model="command.previewer" />
        </div>
        <div class="help-block"><p>
            Select a previewer compatible with the executable to get 
            realtime results in the Experiment's status page.</p>
            <p>Arguments will be replaced as follows:</p>
            <ul>
              <li><em>%stdout</em> &#8594; Command's stdout</li>
              <li><em>%stderr</em> &#8594; Command's stderr</li>
              <li><em>$anyfile</em> &#8594; &lt;working_dir&gt;/anyfile</li>
            </ul>
         </div>
      </div>
    </div>
    <div class="form-group">
        <label for="previewerSeriesInput" class="control-label col-sm-2">Previewer Series</label>
        <div class="col-sm-10" id="previewerSeriesInput">
          <input type="text" class="form-control" ng-model="command.previewer_series" />
          <p class="help-block">Specify a series name that this command's results will be previewed (optional).</p>
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <h4>Commands Executed</h4>
        <p class="help-block">Click to generate a list of commands that would be executed.<br />
            Note that input file arguments are not expanded at this point.</p>
        <button type="button" 
            ng-disabled="command.executable == null" 
                class="btn btn-default" 
                ng-click="vm.previewCommands()"
                busy-disabled="true"
                busy busy-when-name="previewCommands">
        <busy-message><i class="fa fa-refresh fa-spin"></i> Please wait...</busy-message>
        Create Preview
        </button>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="command in commandExecutions">{{command}}</li>
        </ul>
      </div>    
    </div>
    <hr />
    <div ng-show="action=='edit'" class="alert alert-warning">Careful! When you change the experiments, all existing executions will be overwritten and their results might be lost! All individual previewer settings will be overwritten too.</div>
    <div class="form-group">
      <div class="col-sm-4">
        <button type="button"
                ng-disabled="command.executable == null" 
                busy-disabled="true"
                busy busy-when-name="modifyCommand"
             class="btn btn-primary" ng-click="vm.submitCommand()">
           <busy-message><i class="fa fa-refresh fa-spin"></i> Please wait...</busy-message>
            {{submitButtonLabel}}
        </button>
      </div>
    </div>
  </form>
</div>
</div>