<div class="container-fluid">
  <h3>{{action}} Experiment</h3>
  <form class="form" name="expEditForm" >
    <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>
    <div class="form-group">
      <label for="inputTitle" class="control-label">Title</label>
      <input type="text" name="expTitle" class="form-control" id="inputTitle" 
        placeholder="Title" ng-model="experiment.title" required />
    </div>
    <div class="form-group">
      <label for="inputDescription" class="control-label">Description</label>
      <textarea rows="3" id="inputDescription" class="form-control" ng-model="experiment.description" 
            placeholder="Short Experiment Description"></textarea> 
    </div>
    
    <div class="form-group">
      <button type="submit" busy-disabled="true"
                busy busy-when-name="createExperiment"
                class="btn btn-primary"  ng-click="save()">
        <busy-message><i class="fa fa-refresh fa-spin"></i> Please wait...</busy-message>
        {{action}}
      </button>
      <button type="button" 
            class="btn btn-default"
            ng-click="closeThisDialog(false)">Cancel</button>
    </div>
  </form>
</div>
