<div class="container">
  <div class="page-header">
    <h2>All Experiments</h2>
  </div>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Owner</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
      <tr ng-repeat="experiment in experiments">
        <td><a href="experiments/{{experiment.id}}/show">{{experiment.id}}</a></td>
        <td>{{experiment.creator.username}}</td>
        <td>{{experiment.title}}</td>
        <td>{{experiment.description}}</td>
        <td>{{experiment.creation_date}}</td>
      </tr>
    </tbody>
  </table>
  <div class="col-sm-1">
    <a ng-click='vm.createExperiment()'>
      <button class="btn btn-primary">Create New</button>
    </a>
  </div>      
</div>