<script type="text/ng-template" id="syncRepositoryTemplate">
<div class="container-fluid">
  <h3>Synchronize Repository</h3>
  <form role="form" class="form">
    <div class="form-group">
      <label for="commitMessage" class="control-label">Message (optional)</label>
      <textarea rows="3" class="form-control" ng-model="commitMessage" id="commitMessage"></textarea>
      <p class="help-block">Enter a commit-message, in case a commit is necessary.</p>
    </div>
  </form>
  <p>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-primary"
              ng-click="save()">Save</button>
      <button type="button" class="ngdialog-button ngdialog-button-secondary"
              ng-click="closeThisDialog(0)">Cancel</button>
    
    </div>
  </p>
</div>
</script>

<div class="container">
  <div class="col-sm-10">
    <div class="page-header">
      <h2>Edit Experiment <em>{{experiment.title}}</em></h2>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">General</h2>
      </div>
      <div class="panel-body">
        <p>{{experiment.description}}</p>
        <div class="btn-group btn-group-sm" role="group">
          <a class="btn btn-default btn-sm" href="#" ng-click="vm.editExperiment(experiment)">
            <span class="glyphicon glyphicon-cog"></span>
            Edit
          </a>
          <a class="btn btn-default btn-sm" href="#" ng-click="vm.cloneExperiment(experiment)">
            <span class="glyphicon glyphicon-th"></span>
            Clone
          </a>
          <a class="btn btn-default btn-sm" href="#" ng-click="vm.deleteExperiment(experiment)">
            <span class="glyphicon glyphicon-minus"></span>
            Delete
          </a>
        </div>
        <div class="pull-right">
          <a class="btn btn-default"
            href="/experiments/{{experiment.id}}/show">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back to Status
          </a> 
        </div>
      </div>
    </div>
    <h2></h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Input Files</h2>
      </div>
      <div class="panel-body">
          <div class="form">
            <div class="form-group">
                <label for="inputFile">Upload input file</label>
                <input id="inputFile" type="file" nv-file-select uploader="uploader" />
            </div>
            <div class="form-group">
              <label for="inputFiles">Available Input Files</label>
              <table class="table table-condensed table-striped table-hover" id="inputFiles">
                <tbody>
                  <tr ng-repeat="item in experimentInput track by $index">
                      <td>{{item}}</td>
                      <td><button type="button" class="btn btn-sm btn-default"
                        ng-click="vm.removeItem(item)">
                        <span class="glyphicon glyphicon-minus"></span></button>
                      </td>
                  </tr>
                  <tr ng-hide="experimentInput.length">
                      <td span="2"><em>There are no input files</em></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Repository Control</h2>
      </div>
      <div class="panel-body">
        <a target="_blank" href="/repos/experiment-{{experiment.id}}">Browse</a>
        <p>Current Changeset:.... some ID, the last committer etc.</p>
        <button type="button" class="btn btn-primary" 
                ng-click="vm.syncRepository(experiment)">Sync Repository</button>
      </div>
    </div>
  </div>
</div>