<h4>Previewer Selection</h4>
<p>Select a previewer compatible with the executable to get
  realtime results in the Experiment&#8217;s status page.</p>
<p>Arguments will be replaced as follows:</p>
<ul>
  <li><em>%stdout</em> &#8594; Command&#8217;s stdout</li>
  <li><em>%stderr</em> &#8594; Command&#8217;s stderr</li>
  <li><em>$anyfile</em> &#8594; &lt;working_dir&gt;/anyfile</li>
</ul>

<button type="button" class="btn btn-default"
  ng-click="closeThisDialog(true)">Close</button>
