
<script type="text/ng-template" id="updatePreviewParserTemplate">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <div ng-show="parserOutput.length" class="col-sm-12">
          <h4>Parser Output</h4>
          <pre class="parser-output-preview">{{parserOutput}}</pre>
      </div>
    </div>
    <div class="col-sm-7">
      <h4>Configure Parser</h4>
      <p class="help-block">Configure parser and a default series.</p>
      <form role="form" class="form-horizontal">
        <div class="form-group">
          <label for="previewerInput" class="control-label col-sm-4">
            <a href="#" ng-click="showPreviewerHelp()"><span class="glyphicon glyphicon-question-sign"></span></a>
            Previewer
          </label>
          <div class="col-sm-8" id="previewerInput">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" 
                        data-toggle="dropdown" aria-expanded="false">Select Builtin<span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li ng-repeat="prev in previewers"><a href="#" ng-click="$parent.previewer=prev">{{prev}}</a>
                </ul>
              </div>
              <input class="form-control" type="text" ng-model="previewer" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="previewerSeriesInput" class="control-label col-sm-4">Series</label>
          <div class="col-sm-8" id="previewerSeriesInput">
            <input type="text" class="form-control" ng-model="previewer_series" />
          </div>
        </div>
        <hr>
        <h4>Configure Mappings</h4>
        <p class="help-block">Configure how a value's arguments are interpreted in the preview chart.</p>
        <div class="form-group">
          <label for="xValueMapping" class="control-label col-sm-4">X-Axis</label>
          <div class="col-sm-8" id="xValueMapping">
            <div class="input-group" id="predefArg">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">available<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li ng-hide="existingValues.length"><em>No existing values</em></li>
                  <li ng-repeat="value in existingValues"><a href="#" ng-click="$parent.xMapping=value">{{value}}</a>
                </ul>
              </div>
              <input class="form-control" type="text" ng-model="xMapping">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="yValueMapping" class="control-label col-sm-4">Y-Axis</label>
          <div class="col-sm-8" id="yValueMapping">
            <div class="input-group" id="predefArg">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">available<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li ng-hide="existingValues.length"><em>No existing values</em></li>
                  <li ng-repeat="value in existingValues"><a href="#" ng-click="$parent.yMapping=value">{{value}}</a>
                </ul>
              </div>
              <input class="form-control" type="text" ng-model="yMapping">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="seriesMapping" class="control-label col-sm-4">Series</label>
          <div class="col-sm-8" id="seriesMapping">
            <div class="input-group" id="predefArg">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">available<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li ng-hide="existingValues.length"><em>No existing values</em></li>
                  <li ng-repeat="value in existingValues"><a href="#" ng-click="$parent.seriesMapping=value">{{value}}</a>
                </ul>
              </div>
              <input class="form-control" type="text" ng-model="seriesMapping">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="pull-right">
            <label class="control-label" for="rerunCheckbox">
              <input type="checkbox" id="rerunCheckbox" ng-model="previewAutoexecute" />
              Rerun Previewer after closing this dialog.
            </label>
          </div>
        </div>


        <div class="ngdialog-buttons">
          <button type="button" class="ngdialog-button ngdialog-button-primary"
           ng-click="save()">Save</button>
           <button type="button" class="ngdialog-button ngdialog-button-secondary"
           ng-click="closeThisDialog(0)">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

</script>

<script type="text/ng-template" id="executionStatusDetailsTemplate">

<div class="container-fluid">
  <h3>Status Details</h3>
    <div class="alert alert-{{ngDialogData.statusClass}}" role="alert">
        {{ngDialogData.status}}</div>
  <dl ng-show="ngDialogData.traceback.length">
    <dt>Traceback</dt>
    <dd><pre>{{ngDialogData.traceback}}</pre></dd>
  </dl>
  <p><div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary"
       ng-click="closeThisDialog(0)">Ok</button>
  </div></p>
  </div>

</script>

<div class="container">
  <div class="page-header">
    <h2>Experiment <em>{{experiment.title}}</em></h2>
  </div>
  <div class="col-sm-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Experiment Details</h1>
      </div>
      <div class="panel-body">
        <p>{{experiment.description}}</p>
        <dl class="dl-horizontal">
          <dt>ID</dt>
          <dd>{{experiment.id}}</dd>
          <dt>Creator</dt>
          <dd>{{experiment.creator.username}}</dd>
          <dt>Creation Date</dt>
          <dd>{{experiment.creation_date}}</dd>
        </dl>
        <div class="btn-group" role="group">
          <button type="button"
                  busy-disabled="true"
                  busy busy-when-name="startAll"
               class="btn btn-default btn-sm" ng-click="vm.startAll()">
             <busy-message><i class="fa fa-refresh fa-spin"></i> Please wait...</busy-message>
              <span class="glyphicon glyphicon-play"></span> Start All
          </button>
          <button type="button"
                  busy-disabled="true"
                  busy busy-when-name="stopAll"
               class="btn btn-default btn-sm" ng-click="vm.stopAll()">
             <busy-message><i class="fa fa-refresh fa-spin"></i> Please wait...</busy-message>
              <span class="glyphicon glyphicon-stop"></span> Stop All
          </button>
        </div>
        <div class="pull-right">
          <a class="btn btn-default btn-sm"
            href="/experiments/{{experiment.id}}/edit"> <span
            class="glyphicon glyphicon-cog"></span> Edit Experiment
          </a>
        </div>
        <h4>Progress</h4>
        <progressbar animate="false" value="experimentProgress"
          type="success"> <b>{{experimentProgress}}%</b> </progressbar>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Preview</h1>
      </div>
      <div class="panel-body">
        <div id="previewChartContainer"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <accordion close-others="false">
      <accordion-group is-open="true" heading="Commands &amp; Executions">
        <div class="panel-body" ng-repeat="command in commands">
          <h4>Command <em>{{command.executable}} {{vm.prettyCommandArgs(command)}}</em></h4>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm"
                  busy-disabled="true"
                  busy busy-when-name="startCommand"
                  ng-click="vm.startCommand(command)"> 
                <busy-message><i class="fa fa-refresh fa-spin"></i> Please wait...</busy-message>
                <span class="glyphicon glyphicon-play"></span>Start
            </button>
            <button type="button" class="btn btn-default btn-sm"
                busy-disabled="true"
                busy busy-when-name="stopCommand"
                ng-click="vm.stopCommand(command)"> 
                <busy-message><i class="fa fa-refresh fa-spin"></i> Please wait...</busy-message>
                <span class="glyphicon glyphicon-stop"></span>Stop
            </button>
          </div>
  
          <div class="pull-right btn-group btn-group-sm" role="group">
            <a class="btn btn-default" href="#" ng-click="vm.editCommand(command)">
              <span class="glyphicon glyphicon-pencil"></span>edit</a>
            <!--  /commands/{{command.id}}/edit -->
            <a class="btn btn-default" href="#" ng-click="vm.removeCommand(command, $index)">
              <span class="glyphicon glyphicon-minus"></span>
            delete</a>
          </div>
      
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Command</th>
                <th>Runtime</th>
                <th>Status</th>
                <th>Preview</th>
                <th>Execute</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="execution in command.executions track by execution.id"
                class="ng-class: vm.getRowClassForState(execution)">
                <td>{{execution.sequence_id}}</td>
                <td>{{execution.command_string}}</td>
                <td>{{execution.executionTime}}</td>
                <td>
                  {{execution.translatedState}}
                </td>
                <td>
                    <span ng-show="execution.preview_data">
                        {{execution.preview_data.status}}
                    </span>
                    <span ng-hide="execution.preview_data">
                        No Preview
                    </span>
                </td>
                <td>    
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-sm"
                        title="Start Execution"
                        ng-click="vm.startExecution(execution)"> 
                      <span class="glyphicon glyphicon-play"></span>&nbsp;
                    </button>
                    <button type="button" class="btn btn-default btn-sm" title="Stop Execution"
                        ng-click="vm.stopExecution(execution)"> 
                      <span class="glyphicon glyphicon-stop"></span>&nbsp;
                    </button>
                  </div>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-default" ng-click="vm.showStatusDetails(execution)">
                    <span class="glyphicon glyphicon-search"></span>
                        Execution Details
                  </button>
                    
                  <button type="button" class="btn btn-default btn-sm" ng-click="vm.runParser(execution)" title="Reparse for Preview">
                     <span class="glyphicon glyphicon-repeat"></span> Rerun Preview
                  </button>
                  <button type="button" class="btn btn-default btn-sm" ng-click="vm.configurePreview(command, execution)">
                        <span class="glyphicon glyphicon-cog"></span>Configure Preview</button>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-hide="commands.length">
          <p>
            <em>No Commands specified.</em>
          </p>
        </div>
        <div class="col-sm-1">
          <a href="/commands/{{experiment.id}}/create">
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span> Create New
            </button>
          </a>
        </div>
      </accordion-group> 
    </accordion>
  </div>
</div>
