<script type="text/ng-template" id="editArgumentTemplate">
  <div class="container-fluid">
  <h3>{{action}} Argument</h3>
  <form class="form"> 
    <input type="hidden" ng-model="argument.executable" />
    <div class="form-group">
      <label for="inputArgumentName" class="control-label">Name</label>
      <input type="text" class="form-control" id="inputArgumentName" 
              required ng-model="argument.name" />
    </div>
    <div class="form-group">
      <label for="inputArgumentChoices" class="control-label">Value(s)</label>
      <input type="text" class="form-control" id="inputArgumentChoices" ng-model="argument.choices" />
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="argument.isDefault" />
          Default Argument
        </label>
        <p class="help-block">Check to add this argument by default when creating a command. (If multiple values are provided, the first one will be used.)</p>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" ng-click="save()">{{action}}</button>
      <button type="button" class="btn btn-defeault" ng-click="closeThisDialog(false)">Cancel</button>
    <div>
  </form>
  </div>
</script>

<script type="text/ng-template" id="editExecutableTemplate">
  <div class="container-fluid">
  <h3>{{action}} Executable</h3>
  <form class="form">
    <div class="alert alert-danger" ng-show="error" ng-bind="error"></div> 
    <input type="hidden" ng-model="executable.path" />
    <div class="form-group">
      <label for="inputExecutablePath" class="control-label">Executable</label>
      <input type="text" class="form-control" id="inputExecutablePath" 
              required ng-model="executable.path" />
    </div>
    <div class="form-group">
      <label for="inputExecutableDesc" class="control-label">Description</label>
      <textarea cols="3" class="form-control" id="inputExecutableDesc" 
              ng-model="executable.description"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
      <button type="button" class="btn btn-default" ng-click="closeThisDialog(false)">Cancel</button>
    <div>
  </form>
  </div>
</script>
<div class="container">
  <div class="page-header">
    <h2>Executables</h2>
  </div>
  <accordion close-others="false">
   <accordion-group heading="{{executable.path}}" is-open="accordions_open[executable.id]" ng-repeat="executable in executables">
    <div class="col-sm-12">
      <div class="pull-right">
      <a class="btn btn-default btn-sm" href="#" ng-click="vm.editExecutable(executable)">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      </a>
      <a href="#" class="btn btn-default btn-sm"  ng-click="vm.removeExecutable(executable)">
        <span class="glyphicon glyphicon-minus"></span>
        Delete
      </a>
      </div>
      <dl class="dl-horizontal">
        <dt>Executable</dt>
        <dd>{{executable.path}}</dd>
        <dt>Description</dt>
        <dd>{{executable.description}}</dd>
      </dl>
    </div>
    <div class="col-sm-11 col-sm-offset-1">
      <h4>Arguments</h4>
      <table class="table" ng-show="executable.argument_set.length">
        <thead>
          <tr>
            <th>Name</th>
            <th>Value(s)</th>
            <th>use as default</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="prop in executable.argument_set">
            <td>{{prop.name}}</td>
            <td>{{vm.join(prop.choices)}}</td>
            <td>{{prop.isDefault}}</td>
            <td>
              <button type="button" class="btn btn-default btn-sm"
                  ng-click="vm.editArgument(prop)">
                  <span class="glyphicon glyphicon-pencil"></span>
                  Edit
              </button>
              <button type="button" class="btn btn-default btn-sm"
                  ng-click="vm.removeArgument(prop.id)">
                  <span class="glyphicon glyphicon-minus"></span>
                  Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <p ng-hide="executable.argument_set.length">
        <em>No Arguments registered.</em>
      </p>
      <p>
        <a href="#" class="btn btn-default btn-sm" ng-click="vm.addArgument(executable.id)">
          <span class="glyphicon glyphicon-plus"></span>
          Add Argument
        </a>
      </p>
    </div>
   </accordion-group>
  </accordion>
  <div class="container">
    <a href="#" class="btn btn-default btn-sm" ng-click="vm.addExecutable()">
        <span class="glyphicon glyphicon-plus"></span>Create Executable</a>
  </div>
</div>