
<div class="container">
  <div class="page-header">
    <h2>Dashboard</h2>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">System Information</h4>
      </div>

      <div class="panel-body">

        <table class="table table-condensed">
          <tbody>
            <tr>
              <td>Number of Experiments</td>
              <td ng-bind="experiments.length"></td>
            </tr>
            <tr>
              <td>Number of Tasks</td>
              <td ng-bind="totalNumExecutions"></td>
            </tr>
            <tr>
              <td>Waiting/scheduled tasks</td>
              <td>250</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Experiments</h4>
      </div>
      <div class="panel-body">    
         <div class="form form-horizontal">
           <label for="showInactive">
              <input type="checkbox" id="showInactive" ng-model="vm.showInactive">
              Show Idle Experiments
           </label>
         </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Creator</th>
              <th>Status</th>
              <th>Active Tasks / Total Tasks</th>
            </tr>
          <thead>
          <tbody>
            <tr ng-repeat="experiment in experiments | filter:showExperiment track by experiment.id"
              data-link="row" 
              class="rowlink">
              <td><a href="experiments/{{experiment.id}}/show">{{experiment.id}}</a></td>
              <td>{{experiment.title}}</td>
              <td>{{experiment.creator.username}}
                    <span ng-show="experiment.creator.email">({{experiment.creator.email}})</span></td>
              <td>
                <span ng-show="experiment.isActive" class="label label-primary">Active</span>
                <span ng-show="!experiment.isActive" class="label label-default">Inactive</span>
              </td>
              <td>{{(experiment.states['RUNNING'].length || 0) + (experiment.states['WAITING'].length || 0)}}/{{experiment.numExecutions}}</td>
            </tr>
          </tbody>
        
        </table>
        <div class="col-sm-1">
          <a ng-click='vm.createExperiment()'>
            <button class="btn btn-primary">Create New</button>
          </a>
        </div>      
      </div>
    </div> 
  </div>

</div>
